<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801502868389-bc9g6uno3777648io7evas1vlk2lap4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801502868389-bc9g6uno3777648io7evas1vlk2lap4v</string>
	<key>API_KEY</key>
	<string>AIzaSyDLS6MEqqCfH9u9E6RS6p0_TKlYaanJ0YI</string>
	<key>GCM_SENDER_ID</key>
	<string>801502868389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxslarsson.locatr</string>
	<key>PROJECT_ID</key>
	<string>flutter-locatr</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-locatr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801502868389:ios:2007485e8a538eda8e6e4c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-locatr.firebaseio.com</string>
</dict>
</plist>